<footer class="site-footer">
  <div class="container">
    <small class="block">&copy; 2016 - 2017 {{ config.authors }}. All rights reserved.</small>
    <small class="block">Typeface by <a href="https://www.fontsquirrel.com/fonts/dejavu-sans-mono">DejaVu Sans Mono</a>.</small>
    <small><a href="https://github.com/heiswayi/thinkspace">Thinkspace</a> theme by <a href="http://heiswayi.github.io/">Heiswayi Nrird</a>.</small>
  </div>
</footer>
