<header class="site-header">
  <nav class="nav">
    <div class="container">
      <h1 class="logo"><a href="/">{{ config.name }}</a></h1>
      <ul class="navbar">
        <li><a href="/episodes.html">Episodes</a></li>
        <li><a href="https://itunes.apple.com/gb/podcast/pincount-podcast/id1136282656">iTunes</a></li>
        <li><a href="/rss.xml">RSS</a></li>
        <li><a href="https://twitter.com/pincountpodcast">Twitter</a></li>
        <li><a href="/support.html">Sponsorship</a></li>
      </ul>
    </div>
  </nav>
</header>
