<section class="intro">
  <div class="container">
    <p class="lead">{{ config.intro }}</p>
  </div>
</section>

{% for rendered_episode in rendered_episodes %}
  {{ rendered_episode }}
{% endfor %}

<div class="container container-center-content">
  <a href="/episodes.html" class="button">See All Episodes</a>
</div>
