<!DOCTYPE html>
<html>
  {{ head_content }}
  <body>
    <main class="wrapper">
      {{ header_content }}
      {{ content }}
      {{ footer_content }}
    </main>

    <script type="text/javascript" src="/assets/js/turbolinks.js"></script>
    <script type="text/javascript" src="/assets/js/player.js" data-turbolinks-eval="false"></script>
  </body>
</html>
